/**
 * Copyright 2011 The Open Source Research Group,
 *                University of Erlangen-Nürnberg
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
#banner {
  background:url(http://sweble.org/img/maven-site-banner-bgcolor.png) repeat-x;
}

body footer {
  margin: 17px 20px 17px 20px;
  padding: 0.5em 0 0.5em 0;
}

#leftColumn {
  width: 250px;
}

#leftColumn .well {
  padding: 15px;
}

#leftColumn ul {
  margin-bottom: 1em;
}

#leftColumn li, #leftColumn li.none {
  list-style-type: circle;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0;
  text-indent: 0;
}

#bodyColumn {
  margin-left: 280px;
}

#poweredBy {
  margin-top: 5em;
}

pre.prettyprint {
  padding: 10px;
}

table {
  border-collapse: collapse;
}

table th {
  border: none;
  background-color: #dddddd;
}

h2 {
  margin-top: 20px;
}

h3 {
  margin-top: 10px;
}

h4 {
  margin-top: 5px;
}
