 ------
 SWC - Dump Cruncher Example Archetype
 ------
 Hannes Dohrn
 ------
 2012-03-29
 ------

SWC - Dump Cruncher Example Archetype

 An example project that goes through a WikiMedia Dump and processes each page.

* Usage

 To create an example project from this archetype, type:

+----+

mvn archetype:generate -DarchetypeGroupId=${project.groupId} -DarchetypeArtifactId=${project.artifactId} -DarchetypeVersion=${project.version}

+----+
