 ------
 SWC - Serialization Example Archetype
 ------
 Hannes Dohrn
 ------
 2012-03-29
 ------

SWC - Serialization Example Archetype

 An archetype that creates a simple application which is able to parse a page
 a page written in Wikitext and serialize it to XML, JSON or binary.

* Usage

 To create an example project from this archetype, type:

+----+

mvn archetype:generate -DarchetypeGroupId=${project.groupId} -DarchetypeArtifactId=${project.artifactId} -DarchetypeVersion=${project.version}

+----+
